@charset "utf-8";
*{
    padding:0px;
    margin: 0px;
}
body{
    width: 800px;
    margin: auto;
    background:linen;
}
#top img{
    height: 200px;
    width: 792px;
    text-align: center;
    line-height: 100px;
}
#menu{
    height: 30px;
    background:#9966FF;
}
#menu ul li{
    list-style-type: none;
    float: left;
    width: 250px;
    text-align: center;
}
#menu ul a{
    text-decoration: none;
    color: aliceblue;
}
#wrapper{
    height: 400px;
}
#left{
    float: left;
    width: 798px;
    border: 1px solid #000000;
}
#right{
    float: left;
    width: 178px;
    border: 1px solid #000000;
}
#news img{
border: 1px solid #CCCCCC;
padding: 5px;
width: 100px;
}
#news a{
    text-decoration: none;
    font-size: 50px;
    color: #000000;
}
#news{
    border: 1px solid #FF0000;
}
#news p{
    float:right;
}
#bottom{
    height: 40px;
    background: #777474;
}
button.btnDTruyen {
    float: right;
}